@{
    Layout = "_AdminLayout";
    NopHtml.SetActiveMenuItemSystemName("TrendingProductsPlugin");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        View Trending Products List
    </h1>
</div>
