@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework

@inject INopHtmlHelper NopHtml

@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Routing
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Plugin.Misc.Omnisend
@using Nop.Plugin.Misc.Omnisend.Models
@using Nop.Services.Events
@using Nop.Web.Framework
@using Nop.Web.Framework.Models
@using Nop.Web.Framework.Events
@using Nop.Web.Framework.Extensions
@using Nop.Web.Framework.Infrastructure
@using Nop.Web.Framework.Models.DataTables
@using Nop.Web.Framework.Security.Captcha
@using Nop.Web.Framework.Security.Honeypot
@using Nop.Web.Framework.Themes
@using Nop.Web.Framework.UI
@model Nop.Plugin.Widgets.HelloWorld.Models.BannerModel

@{
    Layout = "_AdminLayout";
    NopHtml.SetActiveMenuItemSystemName("HelloWorldPlugin");
}

<form asp-controller="HelloWorldHome" asp-action="CreateOrUpdate" method="post">
    <input asp-for="Id" type="hidden"/>
    <div class="content-header clearfix">
        <h1 class="float-left">
            Banner Image Setting
        </h1>
        <div class="float-right">
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    Upload Banner Image
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="AltText" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AltText" />
                            <span asp-validation-for="AltText"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="LinkText" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LinkText" />
                            <span asp-validation-for="LinkText"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="ImageUrl" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="ImageUrl" />
                            <span asp-validation-for="ImageUrl"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fas fa-save mr-1"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>