@using Nop.Web.Models.Catalog

@model IList<ProductOverviewModel>

@{
    Layout = "";
}

<link rel="stylesheet" href="~/Plugins/Widgets.TrendingProducts/Contents/slick/slick.css" />
<link rel="stylesheet" href="~/Plugins/Widgets.TrendingProducts/Contents/slick/slick.theme.css" />
<link rel="stylesheet" href="~/Plugins/Widgets.TrendingProducts/Contents/css/styles.css" />

<script asp-exclude-from-bundle="true" asp-location="Footer" type="text/javascript" 
    src="~/Plugins/Widgets.TrendingProducts/Contents/slick/slick.min.js"></script>

<div class="product-grid home-page-trending-product-grid">
    <div class="title">
        <strong>Trending Products</strong>
    </div>
    <div class="item-grid trending-products">
        @if(Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <div class="item-box border border-primary rounded p-1 bg-primary-subtle">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        }
        else
        {
            <p class="text-center">No products to display.</p>
        }
    </div>
</div>

<script asp-location="Footer">
    $(window).on('load', function () {
        $('.trending-products').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
      });
    });
</script>